{% extends "categories.html" %}
{% load my_tags %}
{% block content %}
<div class="container">
    <div class="row">
        {% for category in categories %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                </div>
                <div class="card-body">
                    {% if category.image %}
                    <img src="{{ category.image | catalog_filter }}" alt="{{ category.name }}" class="img-fluid">
                    {% endif %}
                    <h1 class="card-title pricing-card-title">{{ category.price }}</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>- {{ category.description }}</li>
                        <li>- Поддержка</li>
                        <li>- Установка на сервер</li>
                        <li>- Получение обновлений</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
                    <a class="btn btn-lg btn-block btn-outline-primary" href="#">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}