<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Skystore</h5>
    <nav class="d-flex flex-grow-1 justify-content-between align-items-center">
        <div class="d-flex">
            <a class="p-2 btn btn-outline-primary ms-2" href="/">Каталог</a>
            <a class="p-2 btn btn-outline-primary" href="/contacts/">Контакты</a>
        </div>
        <div>
            <a class="p-2 btn btn-outline-primary" href="/contacts/">Личный кабинет</a>
        </div>
    </nav>
</div>